/* Apple Dark Theme Look */

body {
  background-color: #1c1c1e;
  color: #f5f5f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.App {
  width: 90%;
  max-width: 400px;
  background: #2c2c2e;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  color: #ffffff;
  font-family: 'Source Code Pro';
  font-weight: bold;
}

p{
  color: #ffffff;
  font-family: 'Source Code Pro';
  font-weight: bold;
  font-size: 1.25rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: #3a3a3c;
  margin: 10px 0;
  padding: 12px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  transition: background 0.3s ease;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  
}

li:hover {
  background-color: #007acc;
  transform: translateY(-2px);
}


#Buttons-Container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.menu-button {
  background-color: #3a3a3c;
  color: #f5f5f7;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s ease;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

  width: 200px;

}

.menu-button:hover {
  background-color: #007acc;
  transform: translateY(-2px);
}

.menu-button:active {
  background-color: #58585a;
}

.menu-button:focus {
  outline: none;
}



.list-items{
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s ease;
}

.list-items:hover{
  background-color: #48484a;
  transform: translateY(-2px);
}

.list-items:active{
  outline: none;
}

.list-items:focus{
  outline: none;
}

.selected{
  border-color: #ffffff;
  border-width: 0.15vw;
  border-style: solid;
}

#Hobbies-Container {
  background-color: #2c2c2e;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  margin-bottom: 20px;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#Habbits-Container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0.2vw;
  margin-bottom: 20px; /* Add space below hobbies list */
}

#Habbit-Input {
  margin: 20px 0; /* Add spacing around the input */
}


.data-inputs {
  width: 100%;
  padding: 12px 0.5vw;
  box-sizing: border-box;
  background-color: #2c2c2e;
  border: 2px solid #3a3a3c;
  border-radius: 8px;
  color: #f5f5f7;
  font-size: 16px;
  transition: all 0.3s ease;
}

.data-inputs:focus {
  outline: none;
  border-color: #4e9bff; /* Change border color on focus */
}

#Empty-Message{
  opacity: 0.4;
  font-weight: normal;
}
